/* General page styling */
body {
  font-family: "Inter", "Roboto", sans-serif !important;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.App {
  max-width: auto !important;
  margin: 0px auto;
  /* padding: 20px; */
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

@media (max-width: 768px) {

  input:not(.large-input),
  textarea:not(.large-input),
  select:not(.large-input) {
    font-size: 16px;
  }
}

